//
body {
    text-align: center;
    background-color: black;
    color: white;
}
li {
    list-style: none;
}
main {
    margin: 100px 0;
}
a {
    color: white;
    &:hover {
        color: rgb(255, 0, 106);
    }
}
.link {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 20px;
    margin-top: 50px;
    display: inline-block;
}